<li>
  <a {{action "toggleDrop"}}>
  {{selectedNavItem.displayName}}
  <i class='fa fa-caret-down'></i>
  </a>
</li>
{{#if expanded}}
<ul class='drop'>
  {{#each navItems as |navItem|}}
    {{navigation-item content=navItem filterMode=filterMode}}
  {{/each}}
  <li title="songs"><a href="/c/songs">Songs</a></li>
  {{custom-html "extraNavItem"}}
</ul>
{{/if}}